.about-us {
  min-height: 520px;
  color: #666666;
  max-width: 1164px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 10px 20px 175px;
  background-image: url("../img/2005-bg.png");
  background-repeat: no-repeat;
  background-position: -30px 110px;
  background-size: 19%;

  @media (max-width: 1023px) {
    min-height: 490px;
    background-image: url("../img/2005-bg.png");
    background-position: -30px 55px;
    background-size: 34%;
    padding: 55px 10px 20px 190px;
  }

  @media (max-width: 727px) {
    min-height: 600px;
    width: 290px;
    background-image: none;
    padding: 55px 0 10px 0;
  }
}

.about-us h2 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  font-stretch: semi-condensed;
  margin: 40px 0 20px 0;

  @media (max-width: 1023px) {
    font-size: 32px;
    margin: 0 0 30px 0;
    line-height: 141%;
  }

  @media (max-width: 727px) {
    font-size: 28px;
    margin: 0 0 20px 0;
  }
}

.about-us p {
  font-family: "PT Mono", "Courier", monospace;
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0;

  @media (max-width: 1023px) {
    font-size: 16px;
    margin: 15px 0;
  }

  @media (max-width: 727px) {
    margin: 20px 0 40px 0;
  }
}

.about-us__detals-link {
  @include btn-like-link-mixin();
  @include hover-focus-activity();
  color: #00b2ff;
  box-shadow: 0 0 0 2px #00b2ff;
  margin: 25px 0 0 0;

  @media (max-width: 727px) {
    margin: -10px 0 0 0;
  }
}

.about-us span {
  @media (max-width: 1023px) {
    display: none;
  }
}
