.contacts {
  padding: 0 10px 10px 95px;

  @media (max-width: 1024px) {
    padding: 40px 18px;
  }

  @media (max-width: 727px) {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 52px;
    grid-template-rows: 72px 1fr;
    align-items: center;
    padding: 0 0 0 15px;
    // max-width: 412px;
  }
}

.contacts__list {
  @include list-reset();
  // padding: 0 20px 0 0;

  @media (max-width: 727px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0 20px 30px 0;
  }
}

.contacts a {
  @include hover-focus-activity();
  font-family: "PT Mono", "Courier", monospace;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}
