.features {
  min-height: 620px;
  padding: 115px 0 0 0;

  @media (max-width: 1023px) {
    padding: 55px 0 0 0;
  }

  @media (max-width: 727px) {
    padding: 35px 0 0 0;
  }
}

.features__features-list {
  @include list-reset();
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, auto));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: space-between;
  max-width: 1164px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    max-width: 770px;
    width: 100%;
  }

  @media (max-width: 727px) {
    row-gap: 17px;
    flex-direction: column;
    max-width: 100%;
  }
}

.features__features-list li {
  min-height: 300px;
  width: 100%;
  max-width: 570px;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  padding: 40px 40px;

  @media (max-width: 1023px) {
    width: 47%;
    height: auto;
    min-height: 232px;
    margin: 0 auto;
    padding: 20px 10px 15px 25px;
  }

  @media (max-width: 727px) {
    width: 100%;
    padding: 20px 0 15px 20px;
  }
}

.features h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #00b2ff;
  margin: 8px 0;
  font-stretch: semi-condensed;

  @media (max-width: 1023px) {
    margin: 0;
  }

  @media (max-width: 727px) {
    font-size: 20px;
  }
}

.features p {
  font-family: "PT Mono", "Courier", monospace;
  font-size: 16px;
  line-height: 22px;
  color: #666666;

  @media (max-width: 1023px) {
    margin: 5px 0;
    padding: 0 10px 0 0;
  }

  @media (max-width: 727px) {
    margin: 10px 0;
  }
}

.features br {
  display: none;

  @media (max-width: 727px) {
    display: block;
  }
}
