.intro {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-height: 760px;
  margin: 0 auto;
  outline: 2px dashed rgb(166, 202, 94);
  padding: 200px 250px 0 250px;

  background-image: url("../img/header-bg-desk.png");
  background-repeat: no-repeat;
  background-position: 51% -115px;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    // background-size: 100%;
    background-image: url("../img/header-bg-desk-2x.png");
  }

  @media (max-width: 1024px) {
    min-height: 595px;
    padding: 95px 185px 0 90px;
    background-image: url("../img/header-bg-tablet.png");
    background-position: 51% -90px;

    @media (min-resolution: 2dppx) {
      // background-size: 100%;
      background-image: url("../img/header-bg-tablet-2x.png");
    }
  }

  @media (max-width: 727px) {
    min-height: 575px;
    padding: 215px 15px 0 15px;
    background-image: url("../img/header-bg-mobil.png");
    background-position: 51% -70px;

    @media (min-resolution: 2dppx) {
      // background-size: 100%;
      background-image: url("../img/header-bg-mobil-2x.png");
    }
  }
}

.intro h1 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-stretch: semi-condensed;
  margin: 0;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 727px) {
    font-size: 40px;
  }
}

.intro p {
  position: relative;
  font-family: "PT Mono", "Courier", monospace;
  font-size: 22px;
  line-height: 34px;
  text-transform: lowercase;
  font-stretch: semi-condensed;
  margin: 30px 0 35px 0;
  padding: 0 10px 10px 100px;
  width: 790px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 66px;
    height: 2px;
    left: 10px;
    top: 15px;
    background-color: #ffffff;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
    line-height: 28px;
    width: 85%;
    padding: 0 10px 10px 50px;
    margin: 30px 0 45px 0;

    &::before {
      width: 33px;
      left: 1px;
      top: 20px;
    }
  }

  @media (max-width: 727px) {
    width: 100%;
    padding: 0 0 0 50px;
    margin: 25px 0 45px 0;
    font-size: 16px;
    line-height: 25px;
  }
}

.intro__get-advice-link {
  @include btn-like-link-mixin (16px, 55px, 410px);
  @include hover-focus-activity();
  box-shadow: none;
  background-color: #00b2ff;
  margin: 0 0 0 100px;

  @media (max-width: 1024px) {
    @include btn-like-link-mixin (16px, 55px, 379px);
    box-shadow: none;
    margin: 0 0 0 50px;
  }

  @media (max-width: 727px) {
    @include btn-like-link-mixin (16px, 55px, 287px);
    box-shadow: none;
    display: block;
    margin: 0 auto;
  }
}

.intro__scrolldown-link {
  @include hover-focus-activity();
  font-family: "PT Mono", "Courier", monospace;
  font-size: 14px;
  line-height: 16px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: absolute;
  left: 260px;
  bottom: 100px;
  opacity: 0.5;

  @media (max-width: 1024px) {
    display: none;
  }
}

.intro span {
  @media (max-width: 727px) {
    display: none;
  }
}
