.main {
  flex-grow: 1;
}

.main__inner-wrapper {
  background-color: #ffffff;
  background-image: url("../img/triangle-bg-desk.png");
  background-repeat: no-repeat;
  background-position: 50% -20px;
  background-size: 100%;
  padding: 0 20px;

  @media (max-width: 1024px) {
    background-image: url("../img/triangle-bg-tab.png");
    background-position: 200% 20%;
    background-size: 70%;
  }

  @media (max-width: 727px) {
    background-image: none;
  }
}
