@mixin btn-like-link-mixin($font-size: 14px, $line-height: 43px, $width: 178px) {
  display: inline-block;
  font-size: $font-size;
  letter-spacing: 0.05em;
  font-stretch: semi-condensed;
  line-height: $line-height;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  width: $width;
  min-width: $width;
  border: none;
  box-shadow: 0 0 0 2px #ffffff;
  border-radius: 5px;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin hover-focus-activity() {
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
